.wrapper{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap:1em;
}
.wrapper > div{
  background:#eee;
  padding:1em;
  border:rgb(211, 39, 39) 1px solid;
  background:#ddd;
  align-items:start;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
